body{
    box-sizing: border-box;
    margin: 0px;
    background-color: indigo;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
#principal{
    background-color: black;
    width: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    position: relative;
    top: 220px;
}
#login{
    margin-bottom: 15px;
}
input{
    position: relative;
    bottom: 5px;
    left: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: black;
    border-bottom: indigo 1px solid;
    outline: none;
    color: white;
}
#bouton{
    display: flex;
    justify-content: center;
}
button{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: indigo;
    color: white;
    border: solid 1px indigo;
    cursor: pointer;
}